{
  "presets": [
    [
      "es2015", {
        "modules": false
      }
    ],
    "react",
    "flow"
  ],
  "env": {
    "commonjs": {
      "presets": ["es2015", "react", "flow"],
      "plugins": [
        "transform-class-properties"
      ]
    },
    "es": {
      "plugins": [
        "transform-export-extensions",
        "transform-class-properties"
      ]
    },
    "rollup": {
      "plugins": [
        "external-helpers",
        "transform-export-extensions",
        "transform-class-properties"
      ]
    }
  }
}
