{
  "presets": [
    "es2015",
    "react",
    "flow"
  ],
  "ignore": [
    "**/*.stories.js",
    "**/*.spec.js",
    "**/*.tape.js"
  ],
  "plugins": [
    "polished",
    "transform-export-extensions",
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "presets": [["babili", {
        "evaluate": false,
        "mangle": false
      }]]
    }
  }
}
