# We extend the config used on create-react-app
# Check here to see the rules
# https://github.com/facebookincubator/create-react-app/tree/master/packages/eslint-config-react-app
{
  "extends": "react-app"
}
