@import "../styles/base/_variables.scss";

.datepicker {

}

.calendar {
  background: $gainsboro;
  font-size: 1em;
}

.dateInput {
  border: 1px solid $very-light-grey;
  border-radius: $base-border-radius;
  color: $mattherhorn;
  font-size: 16px;
  min-width: 200px;
  padding: $small-spacing;

  &:focus {
    border-color: $pacific-blue;
    // We make it transparent to avoid content jumping 1px
    border-bottom: 1px solid transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
  }
}
