$visual-grid: false !default;
// from bourbon (for now):
$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

// Typography
$base-font-family: 'Open Sans', $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1.4rem;
$font-big-size: 2.0625rem;
$font-headers-size: 1.5rem;
$font-medium-size: 0.875rem;
$font-small-size: 0.75rem;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-z-index: 0;
$button-margin: 0.5rem 0;
$large-button-padding: 0 16875rem;
$large-button-padding--mobile: 0 0.9375rem;
$default-button-padding: 0.875rem 2.375rem;
$small-spacing: 0.625rem 0.625rem;
$base-spacing: 0.625rem 1.875rem;
$banner-padding: 1.25rem 0.9375rem;
$dropdown-padding: 0.0625rem 0.5rem 0 0.5rem;
$content-padding: 0 3.125rem;
$content_padding--mobile: 0.9375rem;
$min-component-width: 11.25rem;

/// GLOBAL VALUES
// --------------------------------------------------

// Oct 2015 Styleguide colors
// We get the names from here
// http://chir.ag/projects/name-that-color/
// --------------------------

// Blues
$pacific-blue:          #00A7C4;
$eastern-blue:          #018EA6;
$ocean-blue:            #333B4F;
$bunting:               #293140;
$midnight-express:      #1E2532;

// Greens
$shamrock:              #22CCAA;
$niagara:               #21B498;

// Purples
$blue-gem:              #543EAC;

// Reds
$amaranth:              #E62C4F;
$cardinal:              #BC213F;

// Yellows
$golden-tainoi:         #F8C150;
$metallic-gold:         #D7A43B;

// Oranges
$dark-orange:           #FF910A;
$mango-tango:           #D97B08;

// Grays
$nero:                     #222;
$mattherhorn:              #555;
$nobel:                    #999;
$very-light-grey:          #CCC;
$gainsboro:                #DDD;

// Whites
$white-smoke:           #F7F7F7;
$white:                    #FFF;

// Notification Colors
$success-color: $shamrock;
$error-color: $amaranth;
$warning-color: $golden-tainoi;

// Font Colors
$base-font-color: $mattherhorn;
$action-color: $pacific-blue;
$action-color-darker: $eastern-blue;
$hiperlink-color: $ocean-blue;

// Border
$base-border-color: $gainsboro;
$base-border-radius: 0.1875rem;
$base-border: 1px solid $base-border-color;
$large-buttons-border: 1px solid $eastern-blue;

// Background Colors
$base-background-color: $white-smoke;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$forms-spacing: 1.375rem;
$forms-padding: 0.5rem;
$forms-height: 2.5rem;
$padding_forms--errors: 2rem;

//Status buttons
$status-width: 3.125rem;
$status-height: 3.725rem;
$status-bigger-width: 4.6875rem;
$status-list-padding: 0.4375rem 0.4375rem 0.4375rem 0.3125rem;

// Header and nav-bar
$navbar_height: 3.725rem;
$header_height: 7.5rem;

// Breakpoints
$breakpoint-a: 28.5rem;
$breakpoint-b: 45rem;
$breakpoint-c: 75rem;

// Animations
$base-duration: 150ms;
$base-timing: ease;
